.app__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-bg);
    color: #fff;
}

.app__stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    padding: 1rem 2rem;
    margin: 2rem 6rem;
    
}

.app__stats-container:hover {
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    background:var(--color-gray);

}

.app__stats-container p {
    margin: 0 1rem;
    font-size: 20px;
    font-family: var(--font-alt);
    color: var(--color-crimson);
}

.app__stats-container h4 {
    font-family: var(--font-alt);
    font-size: 20px;
}

@media screen and (max-width:1050px) {
    .app__stats {
        flex-direction: column;
    }

    .app__stats-container {
        width: 400px;
        text-align: center;
        margin: 2rem auto;
    }
}

@media screen and (max-width:500px) {
    .app__stats-container {
        width: 100%;
    }
}